<%= form_for @article, html: {multipart: true} do |f| %>
<ul>
 <% @article.errors.full_messages.each do |error| %>
   <li><%= error %></li>
 <% end %>
 </ul>
 <ul>
   <li><%= f.label :title %></li><br />
   <li><%= f.text_field :title %></li>
 </ul>
 <ul>
   <li><%= f.label :body %></li><br />
   <li><%= f.text_area :body %></li>
 </ul>
 <ul>
   <li><%= f.label :tag_list %></li><br />
   <li><%= f.text_area :tag_list %></li>
 </ul>
 <ul>
   <% if @article.image.exists? %>
      <%= image_tag @article.image.url %><br/>
      <% end %>
   <li><%= f.label :image, "Attach an Image" %></li><br/>
   <li><%= f.file_field :image %></li>
 </ul>
<ul>
  <li><%= f.submit %></li>
</ul>
<% end %>
